body {
  background-color: #3ca2e0;
}

.container {
  width: 40%;
  height: 70%;
  margin: 100px auto;
  padding: 100px 0 100px 50px;
  background-color: white;
  border-radius: 6px;
}

input {
  display: block;
  border: none;
  border-bottom: 2px solid;
  text-transform: capitalize;
  border-color: #b0b4bd;
  margin: 2px 7px -3px;
  padding: 0 65px 0 16px;
}

.button {
  padding: 8px;
  text-transform: capitalize;
  background-color: #ff3264;
  border: none;
  border-radius: 20px;
  width: 45%;
  color: white;
  margin: 23px 0 0 150px;
  font-weight: bold;
  font-size: 15px;
}

.logo {
  margin-left: 230px;
  width: 90px;
}

.forminput {
  display: flex;
  margin: 20px 0 25px 157px;
  color: rgb(171, 171, 171);
}
